nav.appbar {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background: var(--background-primary);
  height: 58px;
  padding-right: 15px;
  padding-left: 15px;
  transition: .5s;
  border-bottom: var(--border-primary);
}

nav.appbar>.appbar-items {
  justify-items: center;
  display: flex;
  align-items: center;
}

nav.appbar .appbar-form-group {
  display: flex;
  justify-items: center;
  align-items: center;
}

nav.appbar .appbar-form-group .icon {
  margin-right: -30px;
  z-index: 1;
  font-size: 14px;
}

nav.appbar .appbar-search {
  padding: 5px 15px 5px 35px;
  border-radius: 20px;
  font-size: 14px;
  width: 150px;
  border: none;
  outline: none;
  background-color: var(--background-tertiary);
  transition: .5s;
}

nav.appbar .appbar-search:focus {
  border: none;
  outline: none;
  width: 250px;
  transition: .5s;
  background-color: var(--background-secondary);
}

nav.appbar .sidebar-btn-mobile {
  display: inline-flex;
  padding: 0 15px 0 15px;
  height: 100%;
}

nav.appbar form {
  margin-left: 1rem;
}