nav.breadcrumb {
  background: var(--background-primary);
  display: flex;
  justify-items: center;
  padding: 10px 1rem;
  justify-content: space-between;
}

nav.breadcrumb ol {
  margin-bottom: 0;
}