.card .card-header, .card .card-footer, .card .card-body {
  background-color: var(--background-primary);
}

.card .card-body {
  font-size: 14px;
}

.card {
  box-shadow: 0px 0px 10px var(--shadow-primary);
}

.card .card-title-actions {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}