.card .card-header, .card .card-footer, .card .card-body {
  background-color: var(--background-primary);
}

.card .card-body {
  font-size: 14px;
}

.card .card-title {
  padding-bottom: 0;
  margin-bottom: 0;
}

.card .card-header {
  display: flex;
}

.card .card-title-actions {
  position: relative;
  width: fit-content;
  margin-left: auto;
  display: flex;
}

.card .card-title-actions button {
  padding: .1875rem .375rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  border-radius: 100%;
  font-size: .75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
}

.card.card-primary .card-title-actions button {
  background-color: var(--primary);
  color: var(--text-white);
}

.card.card-primary .card-header {
  background-color: var(--primary);
  color: var(--text-white);
}

.card.card-danger .card-title-actions button {
  background-color: var(--danger);
  color: var(--text-white);
}

.card.card-danger .card-header {
  background-color: var(--danger);
  color: var(--text-white);
}

.card.card-success .card-title-actions button {
  background-color: var(--success);
  color: var(--text-white);
}

.card.card-success .card-header {
  background-color: var(--success);
  color: var(--text-white);
}