.login-form {
  background-color: var(--background-tertiary);
  padding-top: 3rem;
  padding-bottom: 3rem;
  min-height: 99vh;
  justify-items: center;
  width: 50%;
  max-width: 500px;
  font-size: 14px;
}

.login-form .logo {
  max-width: 200px;
  max-height: 100px;
}