:root {
  --background-primary: #fbfeff;
  --background-secondary: #e8f2ff;
  --background-body: #f4f5fb;
  --background-tertiary: #f6faff;
  --border-primary: #eaeaea;
  --border-accent: #333;
  --text-primary: #767783;
  --text-secondary: #989ab1;
  --text-blue: rgb(69, 143, 255);
  --text-orange: rgb(255, 153, 0);
  --scroll-background: rgb(207, 236, 255);
  --scroll-thumb: rgb(176, 206, 226);
  --shadow-primary: #8a8a8a40;
}

@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Regular.ttf);
}

.text-blue {
  color: var(--text-blue);
}

.text-orange {
  color: var(--text-orange);
}

.bg-primary {
  background-color: var(--background-primary);
}